extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotrso")
            .col-md-7
                h1 #{pagina}
                blockquote Vivamus sit amet volutpat ante. Maecenas nec nibh in velit tristique condimentum ut in ante. Nunc faucibus massa ac velit interdum volutpat. Donec tortor nibh, fermentum sed turpis nec, porta fringilla nibh. Cras finibus nibh est. Curabitur aliquam, orci et porttitor pellentesque, lectus risus facilisis libero, a porta mi dolor a ex. Quisque sit amet commodo lacus.
                p Nullam ac tortor posuere, semper mi at, luctus est. Ut tellus metus, porta tempor diam eu, finibus tincidunt nulla. Morbi hendrerit, augue ac consectetur posuere, augue erat varius felis, sed convallis ipsum sapien sit amet lorem. Aenean ullamcorper rhoncus nibh a porta. Maecenas volutpat ligula in orci eleifend viverra.
                p Nunc nec ex eu enim aliquet elementum. Phasellus ut enim dolor. Donec id urna eu ante laoreet tincidunt. Donec scelerisque ut nisl at sollicitudin.

    