extends ../layout/index
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}

        .row   
            .col-md-12

                .row.justify-content-center
                    .col-md-8
                        form
                            .form-group
                                label(for="nombre") Nombre
                                input(id="nombre", class="form-control",type="text", placeholder="Tu Nombre", name="nombre")
                            .form-group
                                label(for="correo") Correo Electronico
                                input(id="correo", class="form-control",type="email", placeholder="Tu Correo Electronico", name="correo")
                            .form-group
                                label(for="mensaje") Mensaje
                                textarea#mensaje(class="form-control",name="mensaje", rows="3", placeholder="Tu mensaje")
                            input.btn.btn-success.btn-block(type="submit",value="Agregar")